openapi: 3.2.0
info:
  title: Fundz Crowdfundings API
  version: 1.1.0
  description: 'The Fundz API delivers structured private-market events — funding rounds, crowdfunding campaigns, acquisitions, executive appointments, business agreements and product launches — collected continuously from SEC filings, state registries and company disclosures since 2015.


    **Keys are self-serve.** A working key takes about five seconds at https://www.fundz.net/api-trial — no sales call, no licence tier, no card required to start. Pricing is published at https://www.fundz.net/pricing rather than quoted, so an agent can evaluate cost before committing.


    **Shape.** Every endpoint is a `GET` returning `{_attribution, _licensing, data[], meta}`. Pages hold 25 records; walk them with `page` and `meta.next_page`. Sort is newest-first by `created_at`, so polling `created_from` is the idiomatic way to consume the feed incrementally.


    **Coverage.** 637 funding events in the last 7 days (113 in the last 24h) and 45,861 investors linked to rounds, verified live 2026-08-05. Organization records carry domain, LinkedIn, location, industries, headcount and public/private status.


    **Auth.** The API key is the raw value of the `Authorization` header — there is no `Bearer` prefix.


    **Errors.** `403` and `404` return `{type, message}`. `429` returns a different shape — `{error, current_tier, queries_limit, remaining_searches, upgrade_url}`. Both are documented below as they actually behave; the API does not currently emit RFC 9457 Problem Details.


    **Attribution.** Every response carries `_attribution` and `_licensing`. The API is free to call on a self-serve key; commercial redistribution or embedding requires a licence (john@fundz.net).'
  contact:
    name: Fundz API Support
    email: john@fundz.net
    url: https://app.fundz.net/fundz-api
  license:
    name: Fundz API Terms of Service
    url: https://www.fundz.net/terms
  termsOfService: https://www.fundz.net/terms
servers:
- url: https://api.fundz.net
  description: Production API server
security:
- apiKey: []
tags:
- name: Crowdfundings
  description: Regulation CF and Regulation A crowdfunding campaigns, sourced from SEC Form C and Form 1-A filings.
paths:
  /crowdfundings:
    get:
      summary: Retrieve crowdfunding
      tags:
      - Crowdfundings
      description: Access active and completed crowdfunding campaigns. Perfect for discovering investment opportunities, and monitoring crowdfunding market trends.
      security:
      - apiKey: []
      parameters:
      - name: created_from
        in: query
        schema:
          type: string
        description: Only return events published on or after this date (YYYY-MM-DD), against `created_at`.
        required: false
        example: '2026-08-01'
      - name: created_to
        in: query
        schema:
          type: string
        description: Only return events published on or before this date (YYYY-MM-DD), against `created_at`.
        required: false
        example: '2026-08-05'
      - name: deadline_from
        in: query
        schema:
          type: string
        description: Filter by deadline from (YYYY-MM-DD)
        required: false
        example: example
      - name: deadline_to
        in: query
        schema:
          type: string
        description: Filter by deadline to (YYYY-MM-DD)
        required: false
        example: example
      - name: offering_amount_min
        in: query
        schema:
          type: integer
        description: Minimum offering amount
        required: false
        example: 1
      - name: offering_amount_max
        in: query
        schema:
          type: integer
        description: Maximum offering amount
        required: false
        example: 1
      - name: offered_types
        in: query
        schema:
          type: array
          items:
            type: string
        description: Offered types
        required: false
        example:
        - Equity
      - name: page
        in: query
        schema:
          type: integer
        description: Page number, 1-based. Responses hold 25 records; use `meta.next_page` to walk the set.
        required: false
        example: 1
      responses:
        '200':
          description: A page of crowdfunding campaigns, newest first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrowdfundingPage'
              examples:
                live_response:
                  summary: Real production response captured 2026-08-05 (first 2 of 25 records)
                  value:
                    _attribution: Data provided by Fundz — https://fundz.net
                    _licensing: Commercial use, redistribution or embedding requires a licence — john@fundz.net
                    data:
                    - city: Miami
                      created_at: '2026-08-05T10:10:18Z'
                      deadline_date: null
                      filing: 1-A
                      financials:
                        auditor: BCRG Group
                        eps_basic: '-0.01'
                        net_income: '-536600.00'
                        eps_diluted: '-0.01'
                        total_assets: '2952920.00'
                        long_term_debt: '0.00'
                        total_revenues: '0.00'
                        accounts_payable: '689520.00'
                        cash_equivalents: '2367920.00'
                        cost_and_expenses: '0.00'
                        total_liabilities: '3489520.00'
                        accounts_receivable: '0.00'
                        full_time_employees: '39'
                        part_time_employees: '0'
                        investment_securities: '0.00'
                        property_plant_equipment: '0.00'
                        total_stockholder_equity: '-536600.00'
                        depreciation_amortization: '0.00'
                        total_liabilities_and_equity: '2952920.00'
                        price_per_security: '4.0000'
                        securities_offered: '6000000'
                      id: naoris-quantum-protocol-crowdfunding-24m-ccdc
                      issuer_contact_name: Louis A. Bevilacqua
                      issuer_name: Naoris Quantum Protocol Inc.
                      issuer_organization:
                        id: naoris-quantum-protocol
                        industries:
                        - id: 2
                          title: Other
                        is_public_company: false
                        list_badges: []
                        location:
                          id: 4687
                          country: United States
                          short_description: Miami, Florida, United States
                          title: Miami
                        name: Naoris Quantum Protocol
                        number_of_employees: null
                        status_code: private
                        status_label: PRIVATE
                        ticker: null
                      issuer_phone: 1-833-333-7329
                      issuer_website: null
                      jurisdictions:
                      - AL
                      - AK
                      - AZ
                      - AR
                      - CA
                      - CO
                      - CT
                      - DE
                      - FL
                      - GA
                      - HI
                      - ID
                      - IL
                      - IN
                      - IA
                      - KS
                      - KY
                      - LA
                      - ME
                      - MD
                      - MA
                      - MI
                      - MN
                      - MS
                      - MO
                      - MT
                      - NE
                      - NV
                      - NH
                      - NJ
                      - NM
                      - NY
                      - NC
                      - ND
                      - OH
                      - OK
                      - OR
                      - PA
                      - RI
                      - SC
                      - SD
                      - TN
                      - TX
                      - UT
                      - VT
                      - VA
                      - WA
                      - WV
                      - WI
                      - WY
                      - DC
                      - PR
                      - A0
                      - A1
                      - A2
                      - A3
                      - A4
                      - A5
                      - A6
                      - A7
                      - A8
                      - A9
                      - B0
                      offering_amount: $24 Million
                      offerred_type: Equity (common or preferred stock)
                      portal: null
                      portal_url: null
                      sec_url: https://www.sec.gov/Archives/edgar/data/2145466/000121390026085345/0001213900-26-085345-index.htm
                      state: FL
                      street1: 848 Brickell Ave, PH 1
                      street2: null
                      tier: Tier2
                      title: Naoris Quantum Protocol is looking to raise $24 Million
                      zip_code: '33131'
                    - city: WILMINGTON
                      created_at: '2026-08-05T10:10:16Z'
                      deadline_date: '2027-04-30T00:00:00Z'
                      filing: C/A
                      financials: null
                      id: simplex-chat-crowdfunding-50k-433e
                      issuer_contact_name: null
                      issuer_name: Simplex Chat, Inc.
                      issuer_organization:
                        id: simplex-chat
                        industries: []
                        is_public_company: false
                        list_badges: []
                        location:
                          id: 4872
                          country: United States
                          short_description: Wilmington, Delaware, United States
                          title: Wilmington
                        name: Simplex Chat
                        number_of_employees: null
                        status_code: private
                        status_label: PRIVATE
                        ticker: null
                      issuer_phone: null
                      issuer_website: simplex.chat
                      jurisdictions: null
                      offering_amount: $50,000
                      offerred_type: Other
                      portal: Wefunder Portal LLC
                      portal_url: https://www.Wefunder.com
                      sec_url: https://www.sec.gov/Archives/edgar/data/2140143/000214014326000004/0002140143-26-000004-index.htm
                      state: DE
                      street1: 800 KING N STREET
                      street2: SUITE 304-2697
                      tier: null
                      title: Simplex Chat is looking to raise $50,000
                      zip_code: '19801'
                    meta:
                      current_page: 1
                      next_page: 2
                      total_count: 16918
                      total_pages: 677
                      tier: Pro
                      remaining_searches: 46
                    upgrade_url: https://www.fundz.net/pricing
        '403':
          description: Missing, invalid, orphaned or non-entitled API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: Unauthorized
                message: Authentication required
        '429':
          description: Daily request quota for your tier is exhausted. Watch `meta.remaining_searches` on successful responses to avoid this.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
              example:
                error: rate_limit_exceeded
                current_tier: Pro
                queries_limit: 500
                remaining_searches: 0
                upgrade_url: https://www.fundz.net/pricing
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: NotFound
                message: Not found
        '500':
          description: Unexpected server error.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: listCrowdfundings
components:
  schemas:
    RateLimitError:
      type: object
      description: Returned with HTTP 429 when the daily request quota for your tier is exhausted. Note this body has a different shape from the other error responses.
      properties:
        error:
          type: string
          description: Always "rate_limit_exceeded".
        current_tier:
          type: string
          description: The plan attached to your key.
        queries_limit:
          type: integer
          description: Your daily request allowance.
        remaining_searches:
          type: integer
          description: Always 0 in this response.
        upgrade_url:
          type: string
          format: uri
          description: Where to raise the limit.
    Error:
      type: object
      description: Standard error body, returned for 403 and 404.
      properties:
        type:
          type: string
          description: Error class, e.g. "Unauthorized" or "NotFound".
        message:
          type: string
          description: Human-readable explanation.
      required:
      - type
      - message
    CrowdfundingPage:
      type: object
      description: A page of crowdfunding campaigns.
      properties:
        _attribution:
          type: string
          description: Required attribution string. Display or retain it when surfacing this data.
        _licensing:
          type: string
          description: Licensing terms. Commercial redistribution or embedding requires a licence.
        data:
          type: array
          description: The crowdfunding campaigns on this page, newest first.
          items:
            $ref: '#/components/schemas/Crowdfunding'
        meta:
          $ref: '#/components/schemas/Meta'
        upgrade_url:
          type: string
          format: uri
          description: Where to raise your plan quota. Returned at the top level of the envelope, not inside meta.
    Crowdfunding:
      type: object
      properties:
        city:
          type: string
        created_at:
          type: string
          format: date-time
          description: When Fundz published the event, in UTC. This is the field to poll on for new events.
        deadline_date:
          type:
          - string
          - 'null'
        filing:
          type: string
        financials:
          type:
          - object
          - 'null'
          properties:
            auditor:
              type: string
            eps_basic:
              type: string
            net_income:
              type: string
            eps_diluted:
              type: string
            total_assets:
              type: string
            long_term_debt:
              type: string
            total_revenues:
              type: string
            accounts_payable:
              type: string
            cash_equivalents:
              type: string
            cost_and_expenses:
              type: string
            total_liabilities:
              type: string
            accounts_receivable:
              type: string
            full_time_employees:
              type: string
            part_time_employees:
              type: string
            investment_securities:
              type: string
            property_plant_equipment:
              type: string
            total_stockholder_equity:
              type: string
            depreciation_amortization:
              type: string
            total_liabilities_and_equity:
              type: string
            price_per_security:
              type: string
            securities_offered:
              type: string
        id:
          type: string
          description: Stable slug identifier for this record. Safe to use as a deduplication key.
        issuer_contact_name:
          type:
          - string
          - 'null'
        issuer_name:
          type: string
        issuer_organization:
          type: object
          properties:
            id:
              type: string
              description: Stable slug identifier for this record. Safe to use as a deduplication key.
            industries:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                    description: Stable slug identifier for this record. Safe to use as a deduplication key.
                  title:
                    type: string
                    description: Human-readable headline for the event.
                description: Industry classifications applied to the company.
              description: Industry classifications applied to the company.
            is_public_company:
              type: boolean
              description: True when the company is publicly traded.
            list_badges:
              type: array
              items:
                type: object
                properties:
                  list_name:
                    type: string
                  list_year:
                    type: integer
                  rank:
                    type:
                    - string
                    - 'null'
                  label:
                    type: string
                description: Badges applied to the company by Fundz curation lists.
              description: Badges applied to the company by Fundz curation lists.
            location:
              type: object
              properties:
                id:
                  type: integer
                  description: Stable slug identifier for this record. Safe to use as a deduplication key.
                country:
                  type: string
                  description: Country name.
                short_description:
                  type: string
                  description: Full location string, e.g. "San Francisco, California, United States".
                title:
                  type: string
                  description: Human-readable headline for the event.
              description: Company headquarters location.
            name:
              type: string
              description: Company name.
            number_of_employees:
              type:
              - integer
              - 'null'
              description: Headcount, where known. Null when not disclosed.
            status_code:
              type: string
              description: Company status, e.g. "private" or "public".
            status_label:
              type: string
              description: Display form of status_code.
            ticker:
              type:
              - string
              - 'null'
              description: Stock ticker for public companies. Null for private companies.
        issuer_phone:
          type:
          - string
          - 'null'
        issuer_website:
          type:
          - string
          - 'null'
        jurisdictions:
          type:
          - array
          - 'null'
          items:
            type: string
        offering_amount:
          type: string
        offerred_type:
          type: string
        portal:
          type:
          - string
          - 'null'
        portal_url:
          type:
          - string
          - 'null'
        sec_url:
          type: string
          format: uri
        state:
          type: string
        street1:
          type: string
        street2:
          type:
          - string
          - 'null'
        tier:
          type:
          - string
          - 'null'
        title:
          type: string
          description: Human-readable headline for the event.
        zip_code:
          type: string
      description: A single crowdfunding campaign.
    Meta:
      type: object
      description: Pagination and quota metadata returned with every list response.
      properties:
        current_page:
          type: integer
          description: The page you requested. Pages hold 25 records.
        next_page:
          type:
          - integer
          - 'null'
          description: Next page number, or null on the last page.
        total_count:
          type: integer
          description: Total records matching the query across all pages.
        total_pages:
          type: integer
          description: Total number of pages available.
        tier:
          type: string
          description: The plan attached to your API key, e.g. "Starter", "Pro", "Strategic".
        remaining_searches:
          type: integer
          description: Requests left in your current quota window.
  securitySchemes:
    apiKey:
      type: apiKey
      name: Authorization
      in: header
      description: 'API key passed as the raw value of the `Authorization` header — **no `Bearer` prefix**.


        ```

        Authorization: YOUR_API_KEY

        ```


        Get a key instantly and self-serve at https://www.fundz.net/api-trial. Requests without a valid key return HTTP 403. Your remaining quota is reported on every successful response as `meta.remaining_searches`, and your plan as `meta.tier`.'
externalDocs:
  description: Fundz API documentation and self-serve key
  url: https://app.fundz.net/fundz-api
